body {
    color: #000000;
    background-color: #ffffff;
}

@media screen and (min-width:768px) {

/* 横幅設定 */
body {
    margin: 0 auto 0 auto;
}

/* ヘッダー */
/* header {
    padding-top: 15px;
    padding-bottom: 15px;
} */

/* ナビゲーション */
#nav-pc {
    font-size: 34px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto 20px auto;
    max-width: 960px;
}

/* ナビゲーションリンクの装飾設定 */
#nav-pc a {
    text-decoration: none;
}
#nav-pc a:link {
    color: #000000;
}
#nav-pc a:visited {
    color: #000000;
}

.home {
    border: 1px solid #000000;
    padding: 10px;
}

/* メイン */
#main-img {
    max-width: 100%;
}

h2 {
    font-size: 34px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

/* About */
#about {
   margin: 80px auto 80px auto;
   width: 100%;
   max-width: 960px;
}
#about-flex {
    display: flex;
    justify-content: center;
}
#about-img > img {
    border-radius: 200px 200px 200px 200px;
}

/* Works */
#works-flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: 20px auto 20px auto;
    max-width: 960px;
}
 .item {
    width: 25%;
} 

.item img {
    max-width: 100%;
    height: auto;
}

.item_center {
    padding-right: 20px;
    padding-left: 20px;
}

 /* #works-flex div {
    border: 1px solid #00f;
}  */

/* フッター */
footer {
    margin-top: 30px;
    text-align: center;
}

#copyright {
    font-size: 18px;
}

}

/* 画面幅が767px以下のとき */
@media screen and (max-width:767px) {
    #works-flex {
        width: 100%;
        text-align: center;
    }

    /* メイン */
#main-img {
    width: 100%;
}
}